body {
}
.nav__title {
    position: fixed;
    font-family: "Century Gothic", "Arial";
    font-weight: bold;
    margin-left: 60px;
    margin-top: -10px;
}

#item__1 {
    margin-top: 50px;
}
#item__2 {
    margin-top: 100px;
}
#item__3 {
    margin-top: 150px;
}

.menu__item {
    display: inline-block;
    text-align: left;
    position: fixed;
    transition: 500ms;
}

.menu__item:hover {
    margin: 15px;
}

.menu__href {
    text-decoration: none;
    margin: 15px;
    padding: 10px;
    background-color: black;
    font-family: "Century Gothic", "Arial";
    font-weight: bold;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}

article {
    display: block;
    text-align: center;
    border: 3px solid black;
    block-size: inherit;
    border-radius: 10px;
    margin-top: 2em;
    margin-left: 20em;
    margin-right: 20em;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.article__title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    line-height: 50px;
    color: black;
    line-height: 0.3em;
}

.article__image {
    width: 70%;
    height: 70%;
    border-radius: 20px;
}

.article__text {
    color:black;
    padding: 10px;
    text-align: left;
    font-size: 1.3em;
}

hr {
    border: none;
    background-color: black;
    height: 4px;
    width: 100%;
}

.urls__title {
    text-align: center;
    font-family: "Century Gothic", "Arial";
    font-weight: bold;
    font-size: 1.2em;
}